h1
{
    font-size:50px;
    font-family:bree serif;
    color:darkcyan;
    text-align:center;
    padding-top:30px;
    margin-bottom: 60px;
}
li
{
    margin-top:10px;
    font-size: 18px;
    font: sans-serif;
}
h2
{
    color:chocolate;
    font-size:25px;
    margin-bottom: 50px;
}
p
{
    font-size:18px;
    margin-bottom: 50px;
}
img
{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}